body{
    background: black url('imagens/paises.jpg') center center no-repeat fixed;

    background-size: cover;
}

div{
    
    background-image: url('imagens/target001.png');
    background-size: 100% 100%;
    position: absolute;
    height: 600px;
    width: 800px;
    background-color: rgba(0, 0, 0, 0.336);
            
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}

p{
    color: white;
    font-size: 23px;
}